{% extends "homepage/layout.html" %}

{% block title %}Forcefields{% endblock %}

{% block content %}

  <h1>Forcefields</h1>
  <br>

  <form method="post">
    {% csrf_token %}
    {% if nbtop > 0 or nbmem > 0 %}
      <p>The topology record "{{ ff }}" is associated with {{ nbtop }} topology and {{ nbmem }} membrane objects.<br>
          If you delete this record these objects will be also deleted.</p>
    {% endif %}
    <p>Are you sure you want to delete "{{ ff }}"?</p>
    <input type="submit" class="btn btn-primary btn-sm" value="Yes">
    <a href="{% url 'fflist' %}" class="btn btn-primary btn-sm" role="button">No</a>
  </form>
  <br>

{% endblock %}
