{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Forcefields{% endblock %}

{% block content %}
    <br>
    <h1>Forcefields</h1>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2">
                    {{ field.label_tag }}<br>
                </div>
                <div class="col">
                    {% if field.name == "ff_file" or field.name == "mdp_file"%}
                        <label class="custom-file">
                            {% if field.name == "ff_file" %}
                                <input type="file" accept=".zip" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="$('ff_filetext').text($(this).val().split('\\').slice(-1)[0])">
                            {% else %}
                                <input type="file" accept=".zip" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="$('#mdp_filetext').text($(this).val().split('\\').slice(-1)[0])">
                            {% endif %}
                            <span id="{{ field.name }}text" class="custom-file-control">{{ field.value|basename }}</span>
                        </label>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <br>
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <br>
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="row p-1">
            <div class="col-1">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary"> {% if ffcreate %} Add {% else %} Update {% endif %}</button>
            </div>
        </div>
    </form>
    <br>
{% endblock %}

{% block script %}
    {{ form.media }}
{% endblock %}

