{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Forcefields{% endblock %}

{% block content %}

  <h1>Forcefields</h1>
  <br>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="row py-1 ml-5">
        <div class="col-4 col-xl-2 col-lg-3 col-md-4 pt-1">
          {% if field.name == "ff_file" %}
            <label for="{{ field.id_for_label }}">Forcefield files:
              <span data-toggle="popover" data-trigger="hover" title="Forcefield files" data-html="true"
                    data-content="Use a zip file containing the forcefield directory. This directory can be used as it
                                  is to run membrane simulations and for Gromacs, it will be used during the validation
                                  process of new topologies.">
                  <i class="fas fa-info-circle text-success"></i>
              </span>
            </label>
          {% elif field.name == "mdp_file" %}
            <br>
            <label for="{{ field.id_for_label }}">Parameters files:
              <span data-toggle="popover" data-trigger="hover" title="Parameters files" data-html="true"
                    data-content="Use a zip file containing the parameters files for minimization, nvt, npt and
                                  production  run. For Gromacs, files must be in the format used since the version 5 and
                                  the files named em.mdp, nvt.mdp, npt.mdp and run.mdp.">
                  <i class="fas fa-info-circle text-success"></i>
              </span>
            </label>
          {% else %}
            {% if field.name == "description" %}<br>{% endif %}
            {{ field.label_tag }}
          {% endif %}
        </div>
        <div class="col-7 col-lg-4">
          {% if field.name == "mdp_file" or field.name == "description" %}
            <small class="float-right text-secondary">optional</small> 
          {% endif %}
          {% if field.name == "ff_file" or field.name == "mdp_file"%}
            <div class="input-group">
              <div class="custom-file">
                <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                       class="custom-file-input"  accept=".zip">
                <label id="label_{{ field.html_name }}" class="custom-file-label" for="{{ field.id_for_label }}">{{ field.value|basename }}</label>
              </div>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
          {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
        </div>
        {% if field.name == "mdp_file" %}
<!--
          <div class="col-0">
            <br>
            <button id="id_mdp_file-remove" type="button" class="btn btn-danger btn-sm file-remove"
                name="mdp_file-remove"><i class="fas fa-times"></i></button>
          </div>
-->
        {% endif %}
      </div>
    {% endfor %}
    <div class="row ml-5">
      <div class="col-auto pt-1">
        <button type="submit" class="btn btn-primary">{% if ffcreate %}Add{% else %}Update{% endif %}</button>
      </div>
    </div>
  <input id="id_ffpath" type="hidden" name="ffpath" value="{{ ffpath }}"/>
  <input id="id_mdppath" type="hidden" name="mdppath" value="{{ mdppath }}"/>
  </form>

{% endblock %}


{% block script %}

  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });

    //$('input[type="file"]').on('change', function() {
    //    alert('test2');
    //    alert($(this).name)
        //alert($(this).next('.custom-file-label'));
    //});

    //$(document).on('click', '.file-remove', function(e){
    //  alert('test');
      // clearing value in javascript
      //var elem = document.getElementById("input-id");
      //elem.value = "";
      // clearing value in jquery
      //$('#input-id').val('');
    //  $('#id_description').val('Test');
    //  $('#id_mdp_file').val('Test');
    //  $('#label_mdp_file').val('Test');
    //});

    /*$(document).on('click', '.file-remove', function(e){*/
      /*document.getElementById('#id_mdp_file').value = "";*/
      /*$('#id_name').val('test');*/
      /*$('#id_mdp_file').val(null);*/
      /*$('#label_mdp_file').val('test');*/
      /*$('.custom-file-label').val('test');*/
      /*$('#id_mdp_file').next().text('this button is disabled')
      $('#id_mdppath').val('');
      /*delForm($(this));*/
      /*alert('test');*/
    /*});*/
  </script>
  {{ form.media }}

{% endblock %}
