{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Forcefields{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1>Forcefields</h1>
            </div>
            {% if user.is_authenticated %}
                <div class="col" align="right">
                    <a href={% url 'ffcreate' %} class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                </div>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row align-items-center rounded-top border border-bottom-0 border-success p-3" style="background-color:#c2e5ca" >
            {% include 'per_page.html' %}
        </div>
        <div class="row align-items-center bg-white border border-top-0 border-bottom-0 border-success p-3">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th width="10%">
                                {% if sort == "software" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="software" %}">Software<a/></th>
                            <th width="15%">
                                {% if sort == "forcefield_type" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="forcefield_type" %}">Type<a/></th>
                            <th width="15%">
                                {% if sort == "name" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="name" %}">Name<a/></th>
                            <th width="45%">Files</th>
                            {% if user.is_authenticated %}
                                <th width="15%"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for forcefield in page_objects %}
                            <tr>
                                <td>{{ forcefield.get_software_display }}</td>
                                <td>{{ forcefield.get_forcefield_type_display }}</td>
                                <td id="{{ forcefield.pk }}">
                                    <a class="text-dark" data-toggle="collapse" href="#collapse{{ forcefield.pk }}" aria-expanded="true" aria-controls="collapse{{ forcefield.pk }}">{{ forcefield.name }}</a>
                                </td>
                                <td>
                                    <a href="{{ forcefield.ff_file.url }}" class="text-success" target="blank">Forcefield</a>
                                    <a href="{{ forcefield.mdp_file.url }}" class="text-success" target="blank">Parameters</a>
                                </td>
                                {% if user.is_authenticated %}
                                    <td>
                                        <a href={% url 'topupdate' forcefield.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a>
                                        <a href={% url 'topdelete' forcefield.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr id="collapse{{ forcefield.pk }}" class="collapse" data-parent="#{{ forcefield.pk }}">
                                <td></td>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-2"><strong>Description:</strong></div>
                                        <div class="col-10">{{ forcefield.description }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><strong>References:</strong></div>
                                        <div class="col-10">
                                            {% for reference in forcefield.reference.all %}
                                                <a class="text-success" href="http://dx.doi.org/{{ reference.doi }}">{{ reference.refid }}</a>
                                                <i>{{ reference.journal }}</i>, {{ reference.volume }}.
                                                {{ reference.title }}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><strong>Curator:</strong></div>
                                        <div class="col-10"><a class="text-success" href={% url 'userdetail' forcefield.curator.pk %}>{{ forcefield.curator.get_full_name }}</a> on {{ forcefield.date }}</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row rounded-bottom border border-top-0 border-success p-3" style="background-color:#c2e5ca" >
            {% include 'paginator.html' %}
        </div>
    </div>
    <br>
{% endblock %}


