{% extends "homepage/layout.html" %}

{% block title %}Lipids{% endblock %}

{% block content %}

  <h1>Lipids</h1>
  <br>

  <form method="post">
    {% csrf_token %}
    {% if nbtop > 0 or nbmem > 0 %}
      <p>The topology record "{{ lip }}" is associated with {{ nbtop }} topology and {{ nbmem }} membrane objects.<br>
          If you delete this record these objects will be also deleted.</p>
    {% endif %}
    <p>Are you sure you want to delete "{{ lip }}"?</p>
    <input type="submit" class="btn btn-primary btn-sm" value="Yes">
    <a href="{% url 'liplist' %}" class="btn btn-primary btn-sm" role="button">No</a>
  </form>
  <br>

{% endblock %}
