{% extends "homepage/layout.html" %}

{% load staticfiles %}
{% load lipid_extras %}

{% block title %}Lipids{% endblock %}

{% block content %}

  <h1>Lipids</h1>
  <br>

  <!-- Search form -->
  {% if search %}
    <div class="row ml-5">
      <div class="col-12 col-lg-6 border border-top-0 border-right-0 border-left-0 border-success">
        <p>Search first for the lipid to add in the
            <a href="http://lipidmaps.org/data/classification/LM_classification_exp.php"
            class="text-success">LipidMaps</a> database. If it is not present, a Limonada entry can be used.</p>
        <div class="container p-0">
          <form method="post">
            {% csrf_token %}
            <div class="row p-1">
              <div class="col-3 pt-1">{{ form_search.lmidsearch.label_tag }}</div>
              <div class="col-7">
                {{ form_search.lmidsearch }}
                {% if form_search.lmidsearch.help_text %}
                  <small class="text-secondary">{{ form_search.lmidsearch.help_text }}<br></small>
                {% endif %}
                {% for error in form_search.lmidsearch.errors %}
                  <span class="text-danger">{{ error }}<br></span>
                {% endfor %}
              </div>
              <div class="col-1 pt-1">
                <button type="submit" class="btn btn-primary btn-sm" name="search">Search</button>
              </div>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
    <br>
  {% endif %}

  <!-- Lipid form -->
  <div class="row ml-5">
    <div class="col-12 col-lg-6">
      <div class="container p-0">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form_add %}
            <div class="row p-1">
              <div class="col-3 pt-1">
                {% if field.name == "iupac_name" or field.name == "formula" or field.name == "img" %}
                  <br>
                {% endif %}
                {% if field.name == "name" %}
                  <label for="{{ field.id_for_label }}">Name:
                    <span data-toggle="popover" data-trigger="hover" title="Lipid naming"
                          data-content="Most lipids are identified by a 4 character code. Initially, these codes
                              corresponded to acronyms or nicknames. With probably more than 100k natural lipids,
                              a 4 digit code is the shortest length able to identify each lipid and respect the
                              maximal name length of gro (5) and itp (14) files.">
                        <i class="fas fa-info-circle text-success"></i></span>
                  </label>
                {% elif field.name == "lmid" %}
                  <label for="{{ field.id_for_label }}">
                    <span class="text-success">LM</span>/<span class="text-warning">LI</span> ID:
                    <span data-toggle="popover" data-trigger="hover" title="LipidMaps or Limonada ID" data-html="true"
                          data-content="All the lipids parametrized for MD simulations are not present in LipidMaps,
                              either because they have not been observed <i>in vivo</i> or are not yet referenced by the
                              consortium. However, these lipids can be added to limonada by using the LipidMaps
                              classification.">
                        <i class="fas fa-info-circle text-success"></i></span>
                  </label>
                {% elif field.name == "com_name" %}
                  <label for="{{ field.id_for_label }}">Common Name:
                    <span data-toggle="popover" data-trigger="focus" title="Common names" data-html="true" role="button"
                          tabindex="0" data-content="The LipidMaps nomenclature of lipids falls into two main
                              categories: systematic names and common or trivial names. The latter includes
                              abbreviations that are a convenient way to define acyl/alkyl chains. These abbreviations
                              are explained in <a class='text-success' href='http://dx.doi.org/10.1093/nar/gkm324'>Fahy
                              <i>et al</i>., 2007</a> and <a class='text-success'
                              href='http://dx.doi.org/10.1194/jlr.R800095-JLR200'>Fahy <i>et al</i>., 2009</a>.">
                        <i class="fas fa-info-circle text-success"></i></span>
                  </label>
                {% elif field.name == "img" %}
                  <label for="{{ field.id_for_label }}">Picture:
                    <span data-toggle="popover" data-trigger="hover" title="Structure drawing"
                          data-content='The structure can be drawn with openbabel from a 2D mol file with the following
                              command. "obabel FILE.mol -O FILE.png -xC -xh 1200 -xw 1000 -x0 molfile -xd --title"'>
                        <i class="fas fa-info-circle text-success"></i></span>
                  </label>
                {% else %}
                  {{ field.label_tag }}
                {% endif %}
              </div>

              <div class="col-9">
                {% if field.name == "sys_name" or field.name == "iupac_name" or field.name == "formula" or field.name == "pubchem_cid" or field.name == "img" %}
                  <small class="float-right text-secondary">optional</small>
                {% endif %}
                {% if field.name == "img" %}
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                             class="custom-file-input" accept=".jpg,.png">
                      <label class="custom-file-label" for="{{ field.id_for_label }}">
                        {% if imgpath %}
                          {{ imgpath|cut:"tmp/" }}
                        {% else %}
                          {% if form_add.img.value %}{{ form_add.img.value|cut:"lipids/" }}{% endif %}
                        {% endif %}
                      </label>
                    </div>
                  </div>
                {% elif field.name == 'core' and search %}
                  <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control"
                      onchange="updateselect(this.id);">
                  <option value="">---------</option>
                  {% lm_select "category" as lmobjects %}
                  {% for value,name in lmobjects %}
                    <option value="{{ value }}"
                            {% if value == form_add.lmid.value|substring:"2,4" %}selected="selected"{% endif %}>
                      {{ name }}
                    </option>
                  {% endfor %}
                  </select>
                {% elif field.name == 'main_class' and search %}
                  <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control"
                          onchange="updateselect(this.id)">
                  <option value="">---------</option>
                  {% if form_add.lmid.value %}
                    {% lm_select form_add.lmid.value|substring:"2,4" as lmobjects %}
                    {% for value,name in lmobjects %}
                      <option value="{{ value }}"
                              {% if value == form_add.lmid.value|substring:"2,6" %}selected="selected"{% endif %}>
                        {{ name }}
                      </option>
                    {% endfor %}
                  {% endif %}
                  </select>
                {% elif field.name == 'sub_class' and search %}
                  <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control"
                          onchange="updateselect(this.id)">
                  <option value="">---------</option>
                  {% if form_add.lmid.value %}
                    {% lm_select form_add.lmid.value|substring:"2,6" as lmobjects %}
                    {% for value,name in lmobjects %}
                      <option value="{{ value }}"
                              {% if value == form_add.lmid.value|substring:"2,8" %}selected="selected"{% endif %}>
                        {{ name }}
                      </option>
                    {% endfor %}
                  {% endif %}
                  </select>
                {% elif field.name == 'l4_class' and search %}
                  <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" onchange="lmidupdate();">
                  <option value="">---------</option>
                  {% if form_add.lmid.value %}
                    {% lm_select form_add.lmid.value|substring:"2,8" as lmobjects %}
                    {% for value,name in lmobjects %}
                      <option value="{{ value }}"
                              {% if value == form_add.lmid.value|substring:"2,10" %}selected="selected"{% endif %}>
                        {{ name }}
                      </option>
                    {% endfor %}
                  {% endif %}
                  </select>
                {% elif field.name == 'lmid' %}
                  {% if field.value|substring:"0,2" == "LM" %}
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" readonly="readonly" type="text"
                           value="{{ field.value }}" class="text-success form-control"/>
                  {% else %}
                    <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" readonly="readonly" type="text"
                           value="{{ field.value }}" class="text-warning form-control"/>
                  {% endif %}
                {% else %}
                  {{ field }}
                {% endif %}
                {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
                {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
              </div>
            </div>
          {% endfor %}
          <div class="row p-1">
            <div class="col-auto pt-1">
              <button type="submit" class="btn btn-primary" name="add">
                {% if search %}Add{% else %}Update{% endif %}
              </button>
            </div>
          </div>
          <input type="hidden" name="imgpath" value="{{ imgpath }}"/>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-5 align-self-center m-1">
      <img src="{% if imgpath %}{{MEDIA_URL}}{{ imgpath }}{% else %}{{MEDIA_URL}}{{ form_add.img.value }}{% endif %}"
           id="lipidimg" name="lipidimg" class="viewport-lip"
           {% if imgpath %}
             alt="{{MEDIA_URL}}{{ imgpath }}"
           {% elif form_add.img.value %}
             alt="{{MEDIA_URL}}{{ form_add.img.value }}"
           {% else %}
             alt=""
           {% endif %}>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          $('#lipidimg').attr('src', e.target.result);
        }
      reader.readAsDataURL(input.files[0]);
      }
    }
    $("#id_img").change(function() {
      readURL(this);
    });
    function updateselect(s0){
      var val = document.getElementById(s0).value;
      if (s0 == 'id_core') {
          var s1 = document.getElementById('id_main_class');
          rmselect('id_main_class');
          rmselect('id_sub_class');
          rmselect('id_l4_class');
      } else if (s0 == 'id_main_class') {
          var s1 = document.getElementById('id_sub_class');
          rmselect('id_sub_class');
          rmselect('id_l4_class');
      } else if (s0 == 'id_sub_class') {
          var s1 = document.getElementById('id_l4_class');
          rmselect('id_l4_class');
      }
      $.ajax({
        url: '{% url "load_lmclass" %}',
        data: { 'classname': val },
        dataType: 'json',
        success: function (data) {
          if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
              $(s1).append('<option value='+ data[i].name +'>'+ data[i].line +'</option>');
            };
          }
        }
      });
      lmidupdate();
    }
    function rmselect(s1){
      var s1  = document.getElementById(s1);
      while (s1.options.length > 0) {
        s1.remove(0);
      }
      var newOption = document.createElement("option");
      newOption.value = "";
      newOption.innerHTML = "---------";
      s1.options.add(newOption);
    }
    function lmidupdate() {
      var cat = document.getElementById("id_core").value;
      var main = document.getElementById("id_main_class").value;
      var sub = document.getElementById("id_sub_class").value;
      var l4  = document.getElementById("id_l4_class").value;
      var text = "";
      $.ajax({
        url: '{% url "load_liindex" %}',
        data: { 'mainclass': main, 'subclass': sub, 'l4class': l4 },
        dataType: 'json',
        success: function (data) {
          if ( cat ) { text = 'LI'+cat+'...' ; }
          if ( main ) {
            if (data['mainclass']) { text = data['mainclass'] ;
            } else { text = 'LI'+main+'...' ; }
          }
          if ( sub ) {
            if (data['subclass']) { text = data['subclass'] ;
            } else { text = 'LI'+sub+'...' ; }
          }
          if ( l4 ) { text = data['l4class'] ; }
          $('#id_lmid').val(text);
          $('#id_lmid').attr('class', 'text-warning form-control');
        }
      });
    }
  </script>

{% endblock %}
