{% extends 'base.html' %}
{% load staticfiles %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'lipids/css/styles.css' %}">
{% endblock %}

{% block content %}
    <article class="lipid_presentation">
        <h1 class="lipid_name">{{ lipid.name }}</h1>

        <h2 class="section">Chemical Compound</h2>

        <figure class="lipid_structure">
            <img src="{% static 'lipids/2D-structures/' %}{{ lipid.name }}.svg"/>
        </figure>

        <table>
            <tr>
                <th>Systematic name</th>
                <td>{{ lm_data.sys_name }}</td>
            </tr>
            <tr>
                <th>Common name</th>
                <td>{{ lm_data.name }}</td>
            </tr>
            <tr>
                <th>IUPAC Name</th>
                <td>{{ pubchem_data.IUPACName }}</td>
            </tr>
            <tr>
                <th>Other names</th>
                <td>
                    <ul class="lipid_names">
                        {% for name in pubchem_data.Names %}
                        <li> {{ name }} </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Formula</th>
                <td>{{ pubchem_data.Formula }}</td>
            </tr>
            <tr>
                <th>Mass</th>
                <td>{{ pubchem_data.Mass }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ lm_data.core }}</td>
            </tr>
            <tr>
                <th>Main class</th>
                <td>{{ lm_data.main_class }}</td>
            </tr>
            <tr>
                <th>Sub class</th>
                <td>{{ lm_data.sub_class }}</td>
            </tr>
            <tr>
                <th>LIPID MAPS ID</th>
                <td>{{ lipid.lmid }}</td>
            </tr>
            <tr>
                <th>PubChem ID</th>
                <td>{{ lm_data.pubchem_cid }}</td>
            </tr>
        </table>

    <h2 class="section">Available MD Topologies</h2>
    <ul class="topology_list">
        {% for topology in lipid.topologies %}
            <li>{{ topology.format }} topology for {{ topology.forcefield }} Forcefield. See <a href="{% url 'lipid_top_poc' %}">details</a></li>
        {% endfor %}
    </ul>

    <h2>Related Membranes</h2>
    <ul class="membrane_list">
        {% for membrane in lipid.membranes %}
            <li>{{ membrane.name }} ({{ membrane.nlipids }} lipids - {{ membrane.forcefield }} Forcefield). See <a href="{% url 'membrane_poc' %}">details</a> </li>
        {% endfor %}
    </ul>

    </article>
{% endblock %}

