{% extends "homepage/layout.html" %}

{% block title %}Topologies{% endblock %}

{% block content %}

  <h1>Topologies</h1>
  <br>

  <form method="post">
    {% csrf_token %}
    {% if nbmem > 0 %}
      <p>The topology record "{{ top }}" is associated with {{ nbmem }} membrane objects.<br>
          If you delete this record these objects will be also deleted.</p>
    {% endif %}
    <p>Are you sure you want to delete "{{ top }}"?</p>
    <input type="submit" class="btn btn-primary btn-sm" value="Yes">
    <a href="{% url 'toplist' %}" class="btn btn-primary btn-sm" role="button">No</a>
  </form>
  <br>

{% endblock %}
