{% extends "homepage/layout.html" %}

{% block title %}Topologies{% endblock %}

{% block content %}
    <h1>Topologies</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <li>{{ object.id }}</li>
            </div>
            <div class="col-10">
                <p> {{ object.lipid.name }} </p>
                <p> {{ object.forcefield }} </p>
                <p><strong>Description:</strong> {{ object.description }}</p>
                <div class="row">
                    <div class="col-1">
                        <p><strong>Reference:</strong>
                    </div>
                    <div class="col-9">
                        <ul>
                        {% for reference in object.reference.all %}
                            <p>{{ reference.authors|truncatewords:"2" }} {{ reference.year }}
                            Doi:<a href="http://dx.doi.org/{{ reference.doi }}" target="blank">{{ reference.doi }}</a></p>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <br>
            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    <p><a href={% url 'topupdate' object.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a><p>
                    <p><a href={% url 'topdelete' object.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Delete</a><p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


