{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Topologies{% endblock %}

{% block content %}

  <h1>Topologies</h1>
  <br>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="row py-1 ml-5">
        <div class="col-3 col-lg-2 col-md-3 pt-1">{{ field.label_tag }}</div>
        <div class="col-9 col-lg-4 col-md-7">
          {% if field.name == "itp_file" or field.name == "gro_file" %}
            <div class="input-group">
              <div class="custom-file">
                {% if field.name == "itp_file" %}
                  <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="custom-file-input"
                         accept=".itp" onchange="$('#itp_filetext').text($(this).val().split('\\').slice(-1)[0]);">
                {% else %}
                  <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="custom-file-input"
                         accept=".gro" onchange="$('#gro_filetext').text($(this).val().split('\\').slice(-1)[0]);">
                {% endif %}
                <label id="{{ field.name }}text" class="custom-file-label" for="{{ field.id_for_label }}">
                    {{ field.value|basename }}</label>
              </div>
            </div>
          {% elif field.name == 'forcefield' %}
            <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            {% if form.software.value %}
              {% query ffs software=form.software.value as ffobjects %}
            {% else %}
              {% query ffs software="GR50" as ffobjects %}
            {% endif %}
            {% for ff in ffobjects %}
              {% if form.forcefield.value %}
                <option value="{{ ff.id }}" {% if ff.name == form.forcefield.value %}selected="selected"{% endif %}>
                  {{ ff.name }}
                </option>
              {% else %}
                <option value="{{ ff.id }}" {% if ff.name == "charmm36" %}selected="selected"{% endif %}>
                  {{ ff.name }}
                </option>
              {% endif %}
            {% endfor %}
            </select>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}</small>{% endif %}
          {% for error in field.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="row ml-5">
      <div class="col-auto pt-1">
        <button type="submit" class="btn btn-primary">{% if topcreate %}Add{% else %}Update{% endif %}</button>
      </div>
    </div>
  </form>
  <br>

{% endblock %}


{% block script %}

  <script>
    var sf_ff = {{ sf_ff|safe }};
  </script>
  <script>
    function basename(){
      filefield = arguments[0];
      textfield = arguments[1];
      $(textfield).text($(filefield).val().split('\\').slice(-1)[0])
    }
    function populate(){
      var val = document.getElementById("id_software").value;
      var s1  = document.getElementById("id_forcefield");
      while (s1.options.length > 0) {
        s1.remove(0);
      }
      if (sf_ff[val]) {
        for(var option in sf_ff[val]){
          var newOption = document.createElement("option");
          newOption.value = sf_ff[val][option][0];
          newOption.innerHTML = sf_ff[val][option][1];
          s1.options.add(newOption);
        }
      } else {
        var newOption = document.createElement("option");
        newOption.value = "";
        newOption.innerHTML = "---------";
        s1.options.add(newOption);
      }
    }
    $("#id_software").change(function() {
      populate();
    });
  </script>
  {{ form.media }}

{% endblock %}
