{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Topologies{% endblock %}

{% block content %}
    <br>
    <h1>Topologies</h1>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2">
                    {{ field.label_tag }}<br>
                </div>
                <div class="col">
                    {% if field.name == "itp_file" or field.name == "gro_file" or field.name == "map_file"%}
                        <label class="custom-file">
                            {% if field.name == "itp_file" %} 
                                <input type="file" accept=".itp" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="basename('#id_itp_file','#itp_filetext')">
                            {% elif field.name == "gro_file" %} 
                                <input type="file" accept=".gro,.pdb" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="$('#gro_filetext').text($(this).val().split('\\').slice(-1)[0])">
                            {% else %} 
                                <input type="file" accept=".map" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="$('#map_filetext').text($(this).val().split('\\').slice(-1)[0])">
                            {% endif %} 
                            <span id="{{ field.name }}text" class="custom-file-control">{{ field.value|basename }}</span>
                        </label>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <br>
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <br>
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="row p-1">
            <div class="col-1">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">{% if topcreate %} Add {% else %} Update {% endif %}</button>
            </div>
        </div>
    </form>
    <br>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function basename(){
            filefield = arguments[0];
            textfield = arguments[1];
            $(textfield).text($(filefield).val().split('\\').slice(-1)[0])
        }
    </script>
    {{ form.media }}
{% endblock %}


