{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Topologies{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1>Topologies</h1>
            </div>
            <div class="col-1 align-self-center" align="right">
                {% if user.is_authenticated %}
                    <a href={% url 'topcreate' %} class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row align-items-center rounded-top border border-bottom-0 border-success p-3" style="background-color:#c2e5ca" >
            {% include 'per_page.html' %}
        </div>
        <div class="row align-items-center bg-white border border-top-0 border-bottom-0 border-success p-3">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th width="10%">
                                {% if sort == "software" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="software" %}">Software<a/></th>
                            <th width="15%">
                                {% if sort == "forcefield" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="forcefield" %}">Forcefield<a/></th>
                            <th width="15%">
                                {% if sort == "lipid" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="lipid" %}">Lipid<a/></th>
                            <th width="15%">
                                {% if sort == "version" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="version" %}">Version<a/></th>
                            <th width="30%">Files</th>
                            {% if user.is_authenticated %}
                                <th width="15%"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for topology in page_objects %}
                            <tr>
                                <td>{{ topology.get_software_display }}</td>
                                <td><a class="text-success" href={% url 'fflist' %}>{{ topology.forcefield }}</a></td>
                                <td><a class="text-success" href={% url 'lipdetail' topology.lipid.slug %}>{{ topology.lipid.name }}</a></td>
                                <td id="{{ topology.pk }}">
                                    <a class="text-dark" data-toggle="collapse" href="#collapse{{ topology.pk }}" aria-expanded="true" aria-controls="collapse{{ topology.pk }}">{{ topology.version }}</a>
                                </td>
                                <td>
                                    <a href="{{ topology.gro_file.url }}" class="text-success" target="blank">Structure</a>
                                    <a href="{{ topology.itp_file.url }}" class="text-success" target="blank">Topology</a>
                                    <a href="{{ topology.map_file.url }}" class="text-success" target="blank">Mapping</a>
                                </td>
                                {% if user.is_authenticated %}
                                    <td>
                                        <a href={% url 'topupdate' topology.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a>
                                        <a href={% url 'topdelete' topology.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr id="collapse{{ topology.pk }}" class="collapse" data-parent="#{{ topology.pk }}">
                                <td></td>
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-2"><strong>Description:</strong></div>
                                        <div class="col-10">{{ topology.description }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><strong>References:</strong></div>
                                        <div class="col-10">
                                            {% for reference in topology.reference.all %}
                                                <a class="text-success" href="http://dx.doi.org/{{ reference.doi }}">{{ reference.refid }}</a>  
                                                <i>{{ reference.journal }}</i>, {{ reference.volume }}.
                                                {{ reference.title }}<br>  
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><strong>Membranes:</strong></div>
                                        <div class="col-10">
                                            {% query mems lipids=topology as memobjects %}
                                            {% for mem in memobjects %}
                                                <a class="text-success" href={% url 'memdetail' mem.pk %}>{{ mem.name }}</a><br> 
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-2"><strong>Curator:</strong></div>
                                        <div class="col-10"><a class="text-success" href={% url 'userdetail' topology.curator.pk %}>{{ topology.curator.get_full_name }}</a> on {{ topology.date }}</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row rounded-bottom border border-top-0 border-success p-3" style="background-color:#c2e5ca" >
            {% include 'paginator.html' %}
        </div>
    </div>
    <br>
{% endblock %}


