{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Properties{% endblock %}

{% block content %}

  <h1>Properties</h1>
  <br>

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="row py-1 ml-5">
        <div class="col-4 col-xl-2 col-lg-3 col-md-4 pt-1">
          {% if field.name == "data_file" %}
            <label for="{{ field.id_for_label }}">Data file:
              <span data-toggle="popover" data-trigger="hover" title="Data file" data-html="true"
                    data-content="This file must follow the XMGRACE format.">
                  <i class="fas fa-info-circle text-success"></i>
              </span>
            </label>
          {% else %}
            {% if field.name == "description" %}<br>{% endif %}
            {{ field.label_tag }}
          {% endif %}
        </div>
        <div class="col-7 col-lg-4">
          {% if field.name == "description" %}
            <small class="float-right text-secondary">optional</small>
          {% endif %}
          {% if field.name == "data_file" %}
            <div class="input-group">
              <div class="custom-file">
                <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                       class="custom-file-input"  accept=".xvg">
                <label id="label_{{ field.html_name }}" class="custom-file-label" for="{{ field.id_for_label }}">{{ field.value|basename }}</label>
              </div>
            </div>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
          {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="row ml-5">
      <div class="col-auto pt-1">
        <button type="submit" class="btn btn-primary">{% if propcreate %}Add{% else %}Update{% endif %}</button>
      </div>
    </div>
  <input id="id_xvgpath" type="hidden" name="xvgpath" value="{{ xvgpath }}"/>
  </form>

{% endblock %}


{% block script %}

  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
  {{ form.media }}

{% endblock %}
