{% extends "homepage/layout.html" %}

{% load homepage_extras %}
{% load forcefield_extras %}

{% block title %}Membranes{% endblock %}

{% block content %}
    <br>
    <h1>Membranes</h1>
    <br>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in topform %}
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2">
                    {{ field.label_tag }}<br>
                </div>
                <div class="col">
                    {% if field.name == "mem_file" %}
                        <label class="custom-file">
                            <input type="file" accept=".gro,.pdb" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" 
                                   onchange="$('#mem_filetext').text($(this).val().split('\\').slice(-1)[0]);readfile($(this));">
                            <span id="{{ field.name }}text" class="custom-file-control" style="width: 340px">{{ field.value|basename }}</span>
                        </label>
                    {% elif field.name == 'forcefield' %}
                        <select id="id_forcefield" name="forcefield" style="width: 340px">
                        {% ff_select "GR" as ffobjects %}
                        {% for value,name in ffobjects %}
                            <option value="{{ value }}" {% if value|slugify == params.forcefield %}selected="selected"{% endif %}>{{ name }}</option>
                        {% endfor %}
                        </select>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <br>
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <br>
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% if field.name == 'mem_file' %}
                        {% for error in merrors %}
                            <p style="color:red">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if field.name == 'mem_file' %}
                <div class="row p-1">
                    <div class="col-1">
                    </div>
                    <div class="col-2">
                        Composition:
                    </div>
                    <div id="mem-form" class="col-9">
                        <div class="row ml-1 mr-1">
                            <div class="col-5 pl-0">Lipid</div>
                            <div class="col-2 pl-1">Topology</div>
                            <div class="col-1 pl-2">Number</div>
                            <div class="col-2 pl-4">Side</div>
                        </div>
                        {% for lip in formset.forms %}
                            <div id="{{ lip.prefix }}-row" class="row form-row">
                                <div class="col-5 pt-1">{{ lip.lipid }}</div> 
                                <div class="col-2 pt-1">
                                    {% if lip.lipid.value and not lip.topology.value %}
                                        <select id="id_{{ lip.prefix }}-topology" name="{{ lip.prefix }}-topology" style="width: 115px" class="text-danger">
                                    {% else %}
                                        <select id="id_{{ lip.prefix }}-topology" name="{{ lip.prefix }}-topology" style="width: 115px">
                                    {% endif %}
                                    {% if lip.topology.value %}
                                        {% query tops lipid_id=lip.lipid.value forcefield=topform.forcefield.value as topobjects %}
                                        {% for top in topobjects %}
                                            <option value="{{ top.id }}" {% if top.id == lip.topology.value %}selected="selected"{% endif %}>{{ top.version }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="" selected="selected">---------</option>
                                    {% endif %}
                                    </select>
                                </div> 
                                <div class="col-1 pt-1">{{ lip.number }}</div> 
                                <div class="col-2 pt-1 pl-4">{{ lip.side }}</div> 
                                <div class="col-2 pt-1 pl-3">
                                    <button id="{{ lip.prefix }}-add" type="button" class="btn btn-success btn-sm add-form-row" name="{{ lip.prefix }}-add"><i class="fas fa-plus" aria-hidden="true"></i></button>
                                    <button id="{{ lip.prefix }}-remove" type="button" class="btn btn-danger btn-sm remove-form-row" name="{{ lip.prefix }}-remove"><i class="fas fa-minus" aria-hidden="true"></i></button>
                                </div>
                                {% if not lip.number.value or not lip.topology.value %}
                                    {% if lip.lipid.value %}
                                        <p style="color: red">The topology and/or number values are missing.</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% for memfield in memform %}
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2">
                    {{ memfield.label_tag }}<br>
                </div>
                <div class="col">
                    {{ memfield }}
                    {% if memfield.help_text %}
                        <br>
                        <small style="color: grey">{{ memfield.help_text }}</small>
                    {% endif %}
                    {% for error in memfield.errors %}
                        <br>
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <input type="hidden" name="rand" value="{{ rand }}" />
        <input type="hidden" name="fname" value="{{ fname }}" />
        {{ formset.management_form }}
        <div class="row p-1">
            <div class="col-1">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary" name="add">{% if memcreate %} Add {% else %} Update {% endif %}</button>
            </div>
        </div>
    </form>
    <br>
{% endblock %}

{% block script %}
    <script>
        var sf_ff = {{ sf_ff|safe }};
    </script>

    <script type="text/javascript">

        $(document).on('click', '.add-form-row', function(){
            addForm();
            mvFormContent($(this));
        });

        function addForm() {
            var total = $('#id_form-TOTAL_FORMS').val();
            $('<div/>', {"class":"row form-row",}).appendTo('#mem-form');
            $('<div/>', {"class":"lip  col-5 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"top  col-2 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"num  col-1 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"side col-2 pt-1 pl-4"}).appendTo('.form-row:last');
            $('<div/>', {"class":"min  col-2 pt-1 pl-3"}).appendTo('.form-row:last');
            var $lipid = $("<select>", {id:'id_form-'+total+'-lipid',
                                        name:'form-'+total+'-lipid',
                                        class:"dal-lipid",
                                        "data-autocomplete-light-function":"select2",
                                        "data-autocomplete-light-url":"/lipid-autocomplete/"});
            $lipid.appendTo($('.form-row:last').children(".lip"));
            $('[data-autocomplete-light-function]:not(.select2-hidden-accessible)').trigger('autocompleteLightInitialize');
            var $topol = $("<select>", {id:'id_form-'+total+'-topology',name:'form-'+total+'-topology','style':'width: 115px'});
            $topol.append($('<option>', {value: '',text: '---------'}));
            $topol.appendTo($('.form-row:last').children(".top"));
            var $num = $("<input>", {id:'id_form-'+total+'-number',name:'form-'+total+'-number',step:'0.0001',type:'number',style:'width: 75px'});
            $num.appendTo($('.form-row:last').children(".num"));
            var $side = $("<select>", {id:'id_form-'+total+'-side',name:'form-'+total+'-side'});
            $side.append($('<option>', {value: 'UP',text: 'Upper leaflet'}));
            $side.append($('<option>', {value: 'LO',text: 'Lower leaflet'}));
            $side.appendTo($('.form-row:last').children(".side"));
            var $btnadd = $('<button>', {id:'form-'+total+'-add',name:'form-'+total+'-add',"class":'btn btn-success btn-sm add-form-row',type:'button'});
            $btnadd.html('<i class="fas fa-plus" aria-hidden="true"></i>')
            $btnadd.appendTo($('.form-row:last').children(".min"));
            $('.form-row:last').children(".min").append(" ");
            var $btnrm = $('<button>', {id:'form-'+total+'-remove',name:'form-'+total+'-remove',"class":'btn btn-danger btn-sm remove-form-row',type:'button'});
            $btnrm.html('<i class="fas fa-minus" aria-hidden="true"></i>')
            $btnrm.appendTo($('.form-row:last').children(".min"));
            total++;
            $('#id_form-TOTAL_FORMS').val(total);
        };

        function mvFormContent(btn) {
            var total = parseInt($('#id_form-TOTAL_FORMS').val());
            var ndx = parseInt(btn.attr('id').match(/[0-9]+/));
            for (var i=total-1; i>ndx; i--) {
                var id = $('#id_form-'+(i-1)+'-lipid').val();
                if ( id ) {
                    var text = $('#id_form-'+(i-1)+'-lipid').text().replace("---------","");;
                    $('#id_form-'+i+'-lipid').append($('<option>', {value: id, text: text, selected: true}));
                    //$('#id_form-1-lipid').trigger('change');
                    //$('#id_form-1-lipid').select2('close');
                    $('#id_form-'+(i-1)+'-lipid').empty();
                }

                var $options = $('#id_form-'+(i-1)+'-topology > option').clone();
                $('#id_form-'+i+'-topology').empty();
                $('#id_form-'+i+'-topology').append($options);
                $('#id_form-'+i+'-topology').val($('#id_form-'+(i-1)+'-topology').val());
                $('#id_form-'+(i-1)+'-topology').empty();
                $('#id_form-'+(i-1)+'-topology').append($('<option>', {value: '',text: '---------'}));

                $('#id_form-'+i+'-number').val($('#id_form-'+(i-1)+'-number').val());
                $('#id_form-'+(i-1)+'-number').val("");
                var side = $('select[name="form-'+(i-1)+'-side"]').val(); 
                $('select[name="form-'+i+'-side"]').val(side);
                $('select[name="form-'+(i-1)+'-side"]').val("UP");
            }
        };

        $(document).on('click', '.remove-form-row', function(e){
            delForm($(this));
        });

        function delForm(btn) {
            var total = parseInt($('#id_form-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_form-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {updateElementIndex(this, i)});
                }
            }
        };

        function updateElementIndex(el, ndx) {
            var id_regex = new RegExp('(form-\\d+)');
            var replacement = 'form-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        };

        $(document).on('change', '#id_software', function(e){
            populate();
        });

        function populate(){
            var val = document.getElementById("id_software").value;
            var s1  = document.getElementById("id_forcefield");
            while (s1.options.length > 0) {                
                s1.remove(0);
            } 
            if (sf_ff[val]) {
                for(var option in sf_ff[val]){
                    var newOption = document.createElement("option");
                    newOption.value = sf_ff[val][option][0];
                    newOption.innerHTML = sf_ff[val][option][1];
                    s1.options.add(newOption);
                }
            } else {
                var newOption = document.createElement("option");
                newOption.value = "";
                newOption.innerHTML = "---------";
                s1.options.add(newOption);
            }
        }

        $(document).on('change', '#id_software', function(e){
            var total = parseInt($('#id_form-TOTAL_FORMS').val());
            for (var i=0; i<total; i++) {
                updatetopselect($('#id_form-'+i+'-lipid'));
            }
        });

        $(document).on('change', '#id_forcefield', function(e){
            var total = parseInt($('#id_form-TOTAL_FORMS').val());
            for (var i=0; i<total; i++) {
                updatetopselect($('#id_form-'+i+'-lipid'));
            }
        });

        $(document).on('change', '.dal-lipid', function(e){
            updatetopselect($(this));
        });

        function updatetopselect(s1){
            console.log(s1.val());
            var valueSelected = s1.val();
            var lipid_name = s1.text();
            var ff = $('#id_forcefield').val(); 
            var ndx = parseInt(s1.attr('id').match(/[0-9]+/));
            $.ajax({
                url: '{% url "getliptops" %}',
                data: { 'lip': valueSelected, 'ff': ff },
                dataType: 'json',
                success: function (data) {
                    $('#id_form-'+ndx+'-topology').empty();
                    $('#id_form-'+ndx+'-topology').removeClass('text-success');
                    $('#id_form-'+ndx+'-topology').removeClass('text-danger');
                    if (data.length == 0) {
                        if (valueSelected) {
                            $('#id_form-'+ndx+'-topology').attr('class', 'text-danger');
                        }
                        $('#id_form-'+ndx+'-topology').append('<option value="">---------</option>');
                    }
                    if (data.length > 1) {
                        $('#id_form-'+ndx+'-topology').attr('class', 'text-success');
                    }
                    for (var i = data.length - 1; i >= 0; i--) {
                        $('#id_form-'+ndx+'-topology').append('<option value='+ data[i].value +'>'+ data[i].name +'</option>');
                    };
                }
            });
        }

        function readfile(mem_file) {
           if ($('#mem_filetext').text().split('.').pop() == 'gro') {
               $('#mem_filetext').closest('form').submit();
           }
        }

    </script>
    {{ topform.media }}
{% endblock %}






