{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}Membranes{% endblock %}

{% block content %}
    <br>
    <h1>Membranes</h1>
    <br>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in topform %}
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2">
                    {{ field.label_tag }}<br>
                </div>
                <div class="col">
                    {% if field.name == "mem_file" %}
                        <label class="custom-file">
                            <input type="file" accept=".gro,.pdb" id="id_{{ field.name }}" name="{{ field.name }}" class="custom-file-input" onchange="$('#mem_filetext').text($(this).val().split('\\').slice(-1)[0])">
                            <span id="{{ field.name }}text" class="custom-file-control">{{ field.value|basename }}</span>
                        </label>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <br>
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <br>
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            {% if field.name == 'version' %}
                {% for memfield in memform %}
                    <div class="row p-1">
                        <div class="col-1">
                        </div>
                        <div class="col-2">
                            {{ memfield.label_tag }}<br>
                        </div>
                        <div class="col">
                            {{ memfield }}
                            {% if memfield.help_text %}
                                <br>
                                <small style="color: grey">{{ memfield.help_text }}</small>
                            {% endif %}
                            {% for error in memfield.errors %}
                                <br>
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% elif field.name == 'mem_file' %}
                <div class="row p-1">
                    <div class="col-1">
                    </div>
                    <div class="col-2">
                        Composition:
                    </div>
                    <div id="mem-form" class="col-9">
                        <div class="row">
                            <div class="col-5">Lipid</div>
                            <div class="col-4">Number</div>
                            <div class="col-2">Side</div>
                        </div>
                        {% for lip in formset.forms %}
                            <div id="{{ lip.prefix }}-row" class="row form-row">
                                <div class="col-5 pt-1">{{ lip.lipid }}</div> 
                                <div class="col-4 pt-1">{{ lip.number }}</div> 
                                <div class="col-2 pt-1">{{ lip.side }}</div> 
                                <div class="col-1 pt-1">
                                    <button id="{{ lip.prefix }}-remove" type="button" class="btn btn-danger btn-sm remove-form-row" name="{{ lip.prefix }}-remove"><i class="fas fa-minus" aria-hidden="true"></i></button>
                                </div> 
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-3"></div>  
                    <div class="col-9 pt-1"><button id="addForm" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus" aria-hidden="true"></i></button></div>  
                </div>
            {% endif %}
        {% endfor %}
        {{ formset.management_form }}
        <div class="row p-1">
            <div class="col-1">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">{% if memcreate %} Add {% else %} Update {% endif %}</button>
            </div>
        </div>
        <div class="test">
            <button id="dalTest" type="button" class="btn btn-success btn-sm"><i class="fas fa-plus" aria-hidden="true"></i></button>
        </div>
    </form>
    <br>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            var autocompleteOptions = {
                minLength: 1,
                source: "{% url 'lipid-autocompleteview' %}",
            };
            $('#id_form-0-lipid').autocomplete(autocompleteOptions);
        });

        $(document).on('click', '#dalTest', function() {
            alert("Test");
            var $test = $("<select>", {id:'id_test',name:'test',"data-autocomplete-light-function":"select2","data-autocomplete-light-url":"/reference-autocomplete/"});
            $test.appendTo($('.test'));
            $('[data-autocomplete-light-function]:not(.select2-hidden-accessible)').trigger('autocompleteLightInitialize');
            alert("Test2");
        });

        $(document).on('click', '#addForm', function() {
            var autocompleteOptions = {
                minLength: 1,
                source: "{% url 'lipid-autocompleteview' %}",
            };
            var total = $('#id_form-TOTAL_FORMS').val();
            $('<div/>', {"class": "row form-row",}).appendTo('#mem-form');
            $('<div/>', {"class":"col-5 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"col-4 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"col-2 pt-1"}).appendTo('.form-row:last');
            $('<div/>', {"class":"col-1 pt-1"}).appendTo('.form-row:last');
            var $lipid = $("<input>", {id:'id_form-'+total+'-lipid',name:'form-'+total+'-lipid'});
            $lipid.appendTo($('.form-row:last').children(".col-5")).focus().autocomplete(autocompleteOptions);
            var $num = $("<input>", {id:'id_form-'+total+'-number',name:'form-'+total+'-number',step:'0.0001',type:'number'});
            $num.appendTo($('.form-row:last').children(".col-4"));
            var $side = $("<select>", {id:'id_form-'+total+'-side',name:'form-'+total+'-side'});
            $side.append($('<option>', {value: 'UP',text: 'Upper leaflet'}));
            $side.append($('<option>', {value: 'LO',text: 'Lower leaflet'}));
            $side.appendTo($('.form-row:last').children(".col-2"));
            var $btnrm = $('<button>', {id:'form-'+total+'-remove',name:'form-'+total+'-remove',"class":'btn btn-danger btn-sm remove-form-row',type:'button'});
            $btnrm.html('<i class="fas fa-minus" aria-hidden="true"></i>')
            $btnrm.appendTo($('.form-row:last').children(".col-1"));
            total++;
            $('#id_form-TOTAL_FORMS').val(total);
        });

        $(document).on('click', '.remove-form-row', function(e){
            delForm($(this));
        });

        function delForm(btn) {
            var total = parseInt($('#id_form-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_form-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {updateElementIndex(this, i)});
                }
            }
        };

        function updateElementIndex(el, ndx) {
            var id_regex = new RegExp('(form-\\d+)');
            var replacement = 'form-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        };


    </script>
    {{ topform.media }}
{% endblock %}






