{% extends "homepage/layout.html" %}

{% load homepage_extras %}
{% load forcefield_extras %}

{% block title %}Membranes{% endblock %}

{% block content %}

  <h1>Membranes</h1>
  <br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in topform %}
      <div class="row py-1 ml-5">
        <div class="col-3 col-lg-2 col-md-3 pt-1">{{ field.label_tag }}</div>
        {% if field.name == "mem_file" %}
          <div class="col-7 col-lg-4 col-md-7">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="custom-file-input"
                       accept=".gro">
                <label class="custom-file-label" for="{{ field.html_name }}">{{ field.value|basename }}</label>
              </div>
            </div>
            {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
            {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
            {% for info in minfos %}<span class="text-warning">{{ info }}<br></span>{% endfor %}
            {% for error in merrors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
          </div>
          <div class="col-2 pt-1">
            <button class="btn btn-sm" name="analyze" onclick="readfile();">Analyze</button>
            <span data-toggle="popover" data-trigger="hover" title="Membrane analysis"
                  data-content='This function allows to fill the composition form from a membrane structrure file.
                      It reorders lipids according to the composition and leaflets and it checks that there is only
                      one membrane composed of one or two leaflets whithout unknown lipids.'>
                <i class="fas fa-info-circle text-success"></i></span>
          </div>
        {% elif field.name == 'forcefield' %}
          <div class="col-9 col-lg-4 col-md-7">
            <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            {% if topform.software.value %}
              {% query ffs software=topform.software.value as ffobjects %}
            {% else %}
              {% query ffs software="GR50" as ffobjects %}
            {% endif %}
            {% for ff in ffobjects %}
              <option value="{{ ff.id }}"
                  {% if ff.id|stringformat:"s" == field.value|stringformat:"s" %}selected="selected"{% endif %}>
                  {{ ff.name }}</option>
            {% endfor %}
            </select>
            {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
            {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
          </div>
        {% else %}
          <div class="col-9 col-lg-4 col-md-7">
            {{ field }}
            {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
            {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
          </div>
        {% endif %}
      </div>

      {% if field.name == 'mem_file' %}
        <div class="row py-1 ml-5">
          <div class="col-3 col-lg-2 col-md-3 pt-1">Composition:</div>
          <div id="mem-form" class="col-9 col-lg-10 col-md-9">
            <div class="container p-0 pt-1">
              <div class="row d-flex flex-nowrap">
                <div class="col-12 col-lg-5 col-md-6 col-sm-8 pl-3">Lipid</div>
                <div class="col-5 col-lg-2 col-md-3 col-sm-4 xs-hide pl-2">Topology</div>
                <div class="col-5 col-lg-2 col-md-3 col-sm-4 sm-hide pl-1">Number</div>
                <div class="col-4 col-sm-2 md-hide pl-1">Side</div>
              </div>
              {% for lip in formset.forms %}
                <div id="{{ lip.prefix }}-row" class="row form-row align-items-center">
                  <div class="col-12 col-lg-5 col-md-6 col-sm-8 pt-1">{{ lip.lipid }}</div>
                  <div class="col-5 col-lg-2 col-md-3 col-sm-4 pt-1">
                    {% if lip.lipid.value and not lip.topology.value %}
                      <select id="id_{{ lip.prefix }}-topology" name="{{ lip.prefix }}-topology"
                              class="form-control-sm text-danger w-100">
                    {% else %}
                      <select id="id_{{ lip.prefix }}-topology" name="{{ lip.prefix }}-topology"
                              class="form-control-sm w-100">
                    {% endif %}
                    {% if lip.topology.value %}
                      {% query tops lipid_id=lip.lipid.value forcefield=topform.forcefield.value as topobjects %}
                      {% for top in topobjects %}
                        <option value="{{ top.id }}"
                            {% if top.id|stringformat:"s" == lip.topology.value|stringformat:"s" %}
                            selected="selected"{% endif %}>{{ top.version }}</option>
                      {% endfor %}
                    {% else %}
                      <option value="" selected="selected">---------</option>
                    {% endif %}
                    </select>
                  </div>
                  <div class="col-5 col-lg-2 col-md-3 col-sm-4 pt-1">
                    <input id="id_{{ lip.prefix }}-number" type="number" name="{{ lip.prefix }}-number"
                           value="{{ lip.number.value }}" class="form-control-sm w-100"/>
                  </div>
                  <div class="col-0 pt-1 pl-2">{{ lip.side }}</div>
                  <div class="col-0 pt-1 pl-1">
                    <button id="{{ lip.prefix }}-add" type="button" class="btn btn-success btn-sm add-form-row"
                        name="{{ lip.prefix }}-add"><i class="fas fa-plus"></i></button>
                    <button id="{{ lip.prefix }}-remove" type="button" class="btn btn-danger btn-sm remove-form-row"
                        name="{{ lip.prefix }}-remove"><i class="fas fa-minus"></i></button>
                  </div>
                  {% if not lip.number.value or not lip.topology.value %}
                    {% if lip.lipid.value %}
                      <p class="text-danger">The topology and/or number values are missing.</p>
                    {% endif %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    {{ formset.management_form }}

    {% for memfield in memform %}
      <div class="row py-1 ml-5">
        <div class="col-3 col-lg-2 col-md-3 pt-1">
          {{ memfield.label_tag }}
          {% if memfield.name == "tag" %}
            <span data-toggle="popover" data-trigger="hover" title="Membrane tags"
                  data-content='Membrane tags enable to describe precisely which biological membrane has been
                      modeled. Use as much tags as necessary.'>
                <i class="fas fa-info-circle text-success"></i></span>
          {% endif %}
        </div>
        <div class="col-9 col-lg-4 col-md-7">
          {{ memfield }}
          {% if memfield.help_text %}<small class="text-secondary">{{ memfield.help_text }}<br></small>{% endif %}
          {% for error in memfield.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="row ml-5">
      <div class="col-auto pt-1">
        <button type="submit" class="btn btn-primary" name="add">
          {% if memcreate %}Add{% else %}Update{% endif %}
        </button>
      </div>
    </div>
    <input type="hidden" name="rand" value="{{ rand }}"/>
    <input type="hidden" name="fname" value="{{ fname }}"/>
    <input type="hidden" name="mempath" value="{{ mempath }}"/>
  </form>

{% endblock %}


{% block script %}

  <script>
    var sf_ff = {{ sf_ff|safe }};
  </script>

  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });

    $(document).on('click', '.add-form-row', function(){
      addForm();
      mvFormContent($(this));
    });

    function addForm() {
      var total = $('#id_form-TOTAL_FORMS').val();
      $('<div/>', {"class":"row form-row",}).appendTo('#mem-form');
      $('<div/>', {"class":"lip col-12 col-lg-5 col-md-6 col-sm-8 pt-1"}).appendTo('.form-row:last');
      $('<div/>', {"class":"top col-5 col-lg-2 col-md-3 col-sm-4 pt-1"}).appendTo('.form-row:last');
      $('<div/>', {"class":"num col-5 col-lg-2 col-md-3 col-sm-4 pt-1"}).appendTo('.form-row:last');
      $('<div/>', {"class":"side col-0 pt-1 pl-2"}).appendTo('.form-row:last');
      $('<div/>', {"class":"min col-0 pt-1 pl-1"}).appendTo('.form-row:last');
      var $lipid = $("<select>", {id:'id_form-'+total+'-lipid',
                     name:'form-'+total+'-lipid',
                     class:"dal-lipid",
                     "data-autocomplete-light-function":"select2",
                     "data-autocomplete-light-url":"/lipid-autocomplete/"});
      $lipid.appendTo($('.form-row:last').children(".lip"));
      $('[data-autocomplete-light-function]:not(.select2-hidden-accessible)').trigger('autocompleteLightInitialize');
      var $topol = $("<select>", {id:'id_form-'+total+'-topology',name:'form-'+total+'-topology',
                                  class:'form-control-sm w-100'});
      $topol.append($('<option>', {value: '',text: '---------'}));
      $topol.appendTo($('.form-row:last').children(".top"));
      var $num = $("<input>", {id:'id_form-'+total+'-number',name:'form-'+total+'-number',step:'0.0001',type:'number',
                               class:'form-control-sm w-100'});
      $num.appendTo($('.form-row:last').children(".num"));
      var $side = $("<select>", {id:'id_form-'+total+'-side',name:'form-'+total+'-side',class:'form-control-sm'});
      $side.append($('<option>', {value: 'UP',text: 'Upper leaflet'}));
      $side.append($('<option>', {value: 'LO',text: 'Lower leaflet'}));
      $side.appendTo($('.form-row:last').children(".side"));
      var $btnadd = $('<button>', {id:'form-'+total+'-add',name:'form-'+total+'-add',
                                   "class":'btn btn-success btn-sm add-form-row',type:'button'});
      $btnadd.html('<i class="fas fa-plus"></i>')
      $btnadd.appendTo($('.form-row:last').children(".min"));
      $('.form-row:last').children(".min").append(" ");
      var $btnrm = $('<button>', {id:'form-'+total+'-remove',name:'form-'+total+'-remove',
                                  "class":'btn btn-danger btn-sm remove-form-row',type:'button'});
      $btnrm.html('<i class="fas fa-minus"></i>')
      $btnrm.appendTo($('.form-row:last').children(".min"));
      total++;
      $('#id_form-TOTAL_FORMS').val(total);
    };

    function mvFormContent(btn) {
      var total = parseInt($('#id_form-TOTAL_FORMS').val());
      var ndx = parseInt(btn.attr('id').match(/[0-9]+/));
      for (var i=total-1; i>ndx; i--) {
        var id = $('#id_form-'+(i-1)+'-lipid').val();
        if ( id ) {
          var text = $('#id_form-'+(i-1)+'-lipid').text().replace("---------","");;
          $('#id_form-'+i+'-lipid').append($('<option>', {value: id, text: text, selected: true}));
          //$('#id_form-1-lipid').trigger('change');
          //$('#id_form-1-lipid').select2('close');
          $('#id_form-'+(i-1)+'-lipid').empty();
        }

        var $options = $('#id_form-'+(i-1)+'-topology > option').clone();
        $('#id_form-'+i+'-topology').empty();
        $('#id_form-'+i+'-topology').append($options);
        $('#id_form-'+i+'-topology').val($('#id_form-'+(i-1)+'-topology').val());
        $('#id_form-'+(i-1)+'-topology').empty();
        $('#id_form-'+(i-1)+'-topology').append($('<option>', {value: '',text: '---------'}));

        $('#id_form-'+i+'-number').val($('#id_form-'+(i-1)+'-number').val());
        $('#id_form-'+(i-1)+'-number').val("");
        var side = $('select[name="form-'+(i-1)+'-side"]').val();
        $('select[name="form-'+i+'-side"]').val(side);
        $('select[name="form-'+(i-1)+'-side"]').val("UP");
      }
    };

    $(document).on('click', '.remove-form-row', function(e){
      delForm($(this));
    });

    function delForm(btn) {
      var total = parseInt($('#id_form-TOTAL_FORMS').val());
      if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_form-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
          $(forms.get(i)).find(':input').each(function() {updateElementIndex(this, i)});
        }
      }
    };

    function updateElementIndex(el, ndx) {
      var id_regex = new RegExp('(form-\\d+)');
      var replacement = 'form-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
    };

    $(document).on('change', '#id_software', function(e){
      populate();
    });

    function populate(){
      var val = document.getElementById("id_software").value;
      var s1  = document.getElementById("id_forcefield");
      while (s1.options.length > 0) {
        s1.remove(0);
      }
      if (sf_ff[val]) {
        for(var option in sf_ff[val]){
          var newOption = document.createElement("option");
          newOption.value = sf_ff[val][option][0];
          newOption.innerHTML = sf_ff[val][option][1];
          s1.options.add(newOption);
        }
      } else {
        var newOption = document.createElement("option");
        newOption.value = "";
        newOption.innerHTML = "---------";
        s1.options.add(newOption);
      }
    }

    $(document).on('change', '#id_software', function(e){
      var total = parseInt($('#id_form-TOTAL_FORMS').val());
      for (var i=0; i<total; i++) {
        updatetopselect($('#id_form-'+i+'-lipid'));
      }
    });

    $(document).on('change', '#id_forcefield', function(e){
      var total = parseInt($('#id_form-TOTAL_FORMS').val());
      for (var i=0; i<total; i++) {
        updatetopselect($('#id_form-'+i+'-lipid'));
      }
    });

    $(document).on('change', '.dal-lipid', function(e){
      updatetopselect($(this));
    });

    function updatetopselect(s1){
      console.log(s1.val());
      var valueSelected = s1.val();
      var lipid_name = s1.text();
      var ff = $('#id_forcefield').val();
      var ndx = parseInt(s1.attr('id').match(/[0-9]+/));
      $.ajax({
        url: '{% url "getliptops" %}',
        data: { 'lip': valueSelected, 'ff': ff },
        dataType: 'json',
        success: function (data) {
          $('#id_form-'+ndx+'-topology').empty();
          $('#id_form-'+ndx+'-topology').removeClass('text-success');
          $('#id_form-'+ndx+'-topology').removeClass('text-danger');
          if (data.length == 0) {
            if (valueSelected) {
              $('#id_form-'+ndx+'-topology').attr('class', 'text-danger form-control-sm w-100');
            }
            $('#id_form-'+ndx+'-topology').append('<option value="">---------</option>');
          }
          if (data.length > 1) {
            $('#id_form-'+ndx+'-topology').attr('class', 'text-success form-control-sm w-100');
          }
          for (var i = data.length - 1; i >= 0; i--) {
            $('#id_form-'+ndx+'-topology').append('<option value='+ data[i].value +'>'+ data[i].name +'</option>');
          };
        }
      });
    }

    function readfile() {
       if ($('#mem_filetext').text().split('.').pop() == 'gro') {
         $('#mem_filetext').closest('form').submit();
       }
    }

  </script>
  {{ topform.media }}

{% endblock %}
