{% extends "homepage/layout.html" %}

{% load homepage_extras %}
{% load membrane_extras %}

{% block title %}Membranes{% endblock %}

{% block content %}

  <h1>Membranes</h1>
  <br>

  <div class="row bg-white border rounded border-success px-3 pt-3 mx-1">
    <div class="col-12 col-lg-7 table-responsive">
      <table class="table table-sm">
        <tbody>
          <tr><td class="font-weight-bold">Name:</td><td>{{ membranetopol.name }}</td></tr>
          <tr>
            <td class="font-weight-bold">Lipids:</td>
            <td>
              {% lipidnames membranetopol.topolcomposition_set.all as lipids %}
              {% for lip in lipids %}
                <a class="text-success" href="{% url 'lipdetail' lip.slug %}">
                    {{ lip.name }}{% if not forloop.last %},{% endif %}</a>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="font-weight-bold">Forcefield:</td>
            <td>
              <a class="text-success" href="{% url 'fflist' %}?ffid={{ membranetopol.forcefield.pk }}">
                  {{ membranetopol.forcefield }}</a>
            </td>
          </tr>
          <tr><td class="font-weight-bold">Software:</td><td>{{ membranetopol.get_software_display }}</td></tr>
          <tr>
            <td class="font-weight-bold">Files:</td>
            <td>
              <a href="{{ membranetopol.mem_file.url }}" class="text-success" target="blank">
                  {{ membranetopol.mem_file.url|basename }}</a>,
              <a href="{{ membranetopol.compo_file.url }}" class="text-success" target="blank">
                  {{ membranetopol.compo_file.url|basename }}</a><br>
              <a href="{% url 'getfiles' %}?memid={{ membranetopol.pk }}" class="text-success">Simulation files<a/>
            </td>
          </tr>
          <tr><td class="font-weight-bold">Number:</td><td>{{ membranetopol.nb_lipids }} lipids</td></tr>
          <tr><td class="font-weight-bold">Temperature:</td><td>{{ membranetopol.temperature }} °K</td></tr>
          <tr><td class="font-weight-bold">Equilibration:</td><td>{{ membranetopol.equilibration }} ns</td></tr>
          <tr><td class="font-weight-bold">Tags:</td><td>{{ membranetopol.membrane.tag.all|join:", " }}</td></tr>
          <tr>
            <td><strong>Description:</strong></td>
            <td>{{ membranetopol.description|linebreaks }}</td>
          </tr>
          <tr>
            <td><strong>References:</strong></td>
            <td>
              {% for reference in membranetopol.reference.all %}
                <a class="text-success" href="http://dx.doi.org/{{ reference.doi }}">{{ reference.refid }}</a>
                <i>{{ reference.journal }}</i>, {{ reference.volume }}.
                {{ reference.title }}<br>
              {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-5 align-self-center">
      <div id="viewport" class="viewport-mem"></div>
    </div>
    <div class="col-12 col-md-auto font-weight-bold">Composition:</div>
    <div class="col-auto ml-3">
      <span class="font-weight-bold">Upper leaflet</span><br>
      {% for lipid in membranetopol.topolcomposition_set.all|dictsortreversed:"number" %}
        {% if lipid.side == "UP" %}
          {{lipid.number}}
          <a class="text-success" href="{% url 'lipdetail' lipid.topology.lipid.slug %}">
              {{lipid.topology.lipid.name}}</a>(
          <a class="text-success" href="{% url 'toplist' %}?topid={{lipid.topology.pk}}">
              {{lipid.topology.version}}</a>)<br>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-auto ml-3">
      <span class="font-weight-bold">Lower leaflet</span><br>
      {% for lipid in membranetopol.topolcomposition_set.all|dictsortreversed:"number" %}
        {% if lipid.side == "LO" %}
          {{lipid.number}}
          <a class="text-success" href="{% url 'lipdetail' lipid.topology.lipid.slug %}">
              {{lipid.topology.lipid.name}}</a>(
          <a class="text-success" href="{% url 'toplist' %}?topid={{lipid.topology.pk}}">
              {{lipid.topology.version}}</a>)<br>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 p-3">
      {% if user.is_authenticated %}
        {% if user == membranetopol.curator %}
          <a href="{% url 'memupdate' membranetopol.pk %}"><i class="fas fa-edit text-success"></i></a>
          &nbsp
          <a href="{% url 'memdelete' membranetopol.pk %}"><i class="fas fa-trash text-success"></i></a>
        {% else %}
          <a href="{% url 'mail' %}?lipid={{ membranetopol.pk }}"><i class="fas fa-edit text-success"></i></a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-auto ml-auto align-self-end">
      <small>
        <b>Curator:</b>
        <a class="text-success" href="{% url 'userdetail' membranetopol.curator.pk %}">
            {{ membranetopol.curator.get_full_name }}</a> on {{ membranetopol.date }}
      </small>
    </div>
  </div>

{% endblock %}


{% block script %}

  <script>
    var name = "{{ membranetopol.mem_file.url|basename }}";
    var data = "../..{{ membranetopol.mem_file.url|dirname }}/";
    NGL.DatasourceRegistry.add("data", new NGL.StaticDatasource(data))
    var stage;
    document.addEventListener("DOMContentLoaded", function () {
      stage = new NGL.Stage('viewport')
      // Handle window resizing
      window.addEventListener( "resize", function( event ){
        stage.handleResize();
      }, false );
      stage.loadFile("data://"+name).then(function (o) {
        o.addRepresentation("licorice")
        o.autoView()
      })
    })
  </script>

{% endblock %}
