{% extends "homepage/layout.html" %}

{% block title %}Membranes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-11">
            <h1>Membranes</h1>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <a href={% url 'memcreate' %} class="btn btn-primary" role="button" aria-pressed="true">Add</a>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="container">
        <ol>
            {% for membrane in object_list %}
                <div class="row">
                    <div class="col">
                        <li>{{ membrane.name }}</li>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-1">
                                <p><strong>File:</strong>
                            </div>
                            <div class="col-9">
                                <a href="{{ membrane.mem_file.url }}" target="blank">Membrane file</a> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <p><strong>Composition:</strong>
                            </div>
                            <div class="col-9">
                                <ul>
                                {% for lipid in membrane.composition_set.all %}
                                    <p>{{lipid.topology.version}}</p>
                                    <p>{{lipid.number}}</p>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <p><strong>Equilibration:</strong> {{ membrane.equilibration }}</p>
                        <p><strong>Description:</strong> {{ membrane.description }}</p>
                        <div class="row">
                            <div class="col-1">
                                <p><strong>Reference:</strong>
                            </div>
                            <div class="col-9">
                                <ul>
                                {% for reference in membrane.reference.all %}
                                    <p>{{ reference.authors|truncatewords:"2" }} {{ reference.year }}
                                    Doi:<a href="http://dx.doi.org/{{ reference.doi }}" target="blank">{{ reference.doi }}</a></p>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col">
                        <p><a href={% url 'memdetail' membrane.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Details</a><p>
                        {% if user.is_authenticated %}
                            <p><a href={% url 'memupdate' membrane.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a><p>
                            <p><a href={% url 'memdelete' membrane.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Delete</a><p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

