{% extends "homepage/layout.html" %}

{% block title %}Update{% endblock %}

{% block content %}

  <h2>Account settings</h2>
  <br>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="row py-1 ml-5">
        <div class="col-3 col-lg-2 col-md-3 pt-1">
          {% if field.name == "address" or field.name == "miscellaneous" %}<br>{% endif %}
          {{ field.label_tag }}
        </div>
        <div class="col-9 col-lg-4">
          {% if field.name == "address" or field.name == "miscellaneous" %}
            <small class="float-right text-secondary">optional</small>
          {% endif %}
          {% if field.name == "utype" %}
            <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
              <option value="AC">Academic</option>
              <option value="CO">Commercial</option>
            </select>
          {% else %}
            {{ field }}
          {% endif %}
          {% if field.help_text %}<small class="text-secondary">{{ field.help_text }}<br></small>{% endif %}
          {% for error in field.errors %}<span class="text-danger">{{ error }}<br></span>{% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="row py-1 ml-5">
      <div class="col-3 col-lg-2 col-md-3 pt-1">Password:</div>
      <div class="col-9 col-lg-4">
        Raw passwords are not stored but you can change your password
        using <a href="{% url 'password_reset' %}">this form</a>.
        The email address specified in this form must be used.
      </div>
    </div>
    <div class="row ml-5">
      <div class="col-auto pt-1">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
  <p class="font-italic text-warning pt-3 pl-3 ml-5"><span class="font-weight-bold">N.B.:</span> These informations will be
      public and could be seen by other users of Limonada.</p>

{% endblock %}
