{% extends "homepage/layout.html" %}

{% block title %}Users{% endblock %}

{% block content %}

  <h1>User informations</h1>
  <br>
  <h2 class="ml-5">{{ user.get_full_name }}</h2>
  <br>

  <div class="row mx-5">
    <div class="col-0 bg-white rounded border border-success px-3 pt-3">
      <div class="table-responsive">
        <table class="table table-sm">
          <tbody>
            <tr><td><b>Name:</b></td><td>{{ user.get_full_name }}</td></tr>
            <tr><td><b>Username:</b></td><td>{{ user.username }}</td></tr>
            <tr><td><b>Position:</b></td><td>{{ user.profile.position }}</td></tr>
            <tr><td><b>e-mail:</b></td><td>{{ user.email }}</td></tr>
            <tr><td><b>Institution:</b></td><td>{{ user.profile.institution }}</td></tr>
            <tr><td><b>Address:</b></td><td>{{ user.profile.address }}</td></tr>
            <tr><td><b>Miscellaneous:</b></td><td>{{ user.profile.miscellaneous|linebreaks }}</td></tr>
            <tr>
              <td><b>Curator:</b></td>
              <td>
                <a class="text-success" href="{% url 'liplist' %}?curator={{ user.pk }}">Lipids</a><br>
                <a class="text-success" href="{% url 'toplist' %}?curator={{ user.pk }}">Topologies</a><br>
                <a class="text-success" href="{% url 'fflist' %}?curator={{ user.pk }}">Forcefileds</a><br>
                <a class="text-success" href="{% url 'memlist' %}?curator={{ user.pk }}">Membranes</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
