{% load homepage_extras %}

<div class="container p-0">
  <div class="row align-items-center justify-content-center">
    <div class="col-auto pr-1">Show</div>
    <div class="col-auto p-0">
      <select name="per_page" class="custom-select" onchange="document.location.href=this.value">
        <option {% if per_page == 10 %}selected{% endif %} value="?{% url_replace per_page=10 %}">10</option>
        <option {% if per_page == 25 %}selected{% endif %} value="?{% url_replace per_page=25 %}">25</option>
        <option {% if per_page == 100 %}selected{% endif %} value="?{% url_replace per_page=100 %}">100</option>
      </select>
    </div>
    <div class="col-auto pl-1">entries</div>
  </div>
</div>
