{% extends "homepage/layout.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

  <h2>Set a new password</h2>
  <br>

  <p class="ml-5">Enter your email address below, and we'll email instructions for setting a new password.</p>
  <form method="post">
    {% csrf_token %}
    <div class="row ml-5 align-items-center">
      {% for field in form %}
        <div class="col-0 pt-1">{{ field.label_tag }}</div>
        <div class="col-0 p-1">
          <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control" maxlength="254"
                 type="email"/>
        </div>
      {% endfor %}
      <div class="col-0 p-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <br>

{% endblock %}
