{% extends "homepage/layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <br>
    <h1>About Limonada</h1>
	<p>Limonada intends to provide an open library of lipid forcefield parameters for molecular dynamic simulation of membranes, linked to experimental data from the biophysical characterization of these lipids and membranes, a repository for equilibrated membranes, notably of more complex compositions representative of biological membranes, and a tool to build lipid bilayers involving a coarse grained step and an estimation of the area per lipids.<p> 
	<p>The structure, topology and forcefield fiels are available on this website and new files can be added by registered users.</p>	
	<p>The whole website, scripts and database are also freely available and open to modifications on GitHub: <a class="text-success" href="https://github.com/jmcrowet/limonada">limonada</a></p>	
    <br> 
    <h1>Context</h1>
	<p>Typical eukaryotic plasma membranes comprise several hundred different lipids distributed heterogeneously between and within the lipid layers and lipidomic studies have established that there may be more than 100,000 different lipids, 40,000 are already referenced on the LipidMaps consortium database.<p> 
	<p>Moreover, several studies of quantitative lipidomics have given detailed compositions of membranes ; like the macrophage organelles specific lipidome obtained by Andreyev in 2010 which contain more than 220 lipids. These studies have been used as basis to build model membranes. For example, Ingólfsson et al. in 2014 have used more than 60 lipid types to define their model composition of plasma membrane with Martini.<p> 
	<p>Different force fields exist for the simulation of lipid membranes. Although the number of available lipids is still often limited and thus limits the representation of complex membranes, two force fields, Charmm and Martini, have a much higher lipid number (more than 180 each) and allow to simulate the interaction between membranes and different types of molecules. The number of articles containing simulations of compositions of more than 6 lipids has also increased during the last years. There is therefore a need for ergonomic tools that can build these more complex and biologicaly relevant membranes.<p/>
{% endblock %}
