{% extends "homepage/layout.html" %}

{% block title %}Links{% endblock %}

{% block content %}

  <h1>Resources for</h1><br>
  <h2 class="font-italic">Membrane coordinates</h2><br>
  <p class="px-4">
    Martini website
    (<a class="text-success" href="https://bbs.llnl.gov/neuronal-membrane-data.html">neuronal</a>,
    <a class="text-success"
       href="http://www.cgmartini.nl/index.php/all-files-needed-for-the-simulation-of-a-thylakoid-membrane">
       thylakoid</a>,
    <a class="text-success" href="http://www.cgmartini.nl/index.php/plasma-membrane">mammal</a>)
    - maintained by Siewert-Jan Marrink’s group at University of Groningen<br>
  </p>
  <p class="px-4"><a class="text-success" href="https://wcm.ucalgary.ca/tieleman/downloads">
      Peter Tieleman's group</a> at University of Calgary</p>
  <p class="px-4"><a class="text-success" href="http://terpconnect.umd.edu/~jbklauda/memb.html">
      Jeffery Klauda's group</a> at University of Maryland</p>
  <p class="px-4"><a class="text-success" href="https://biophys.uni-saarland.de/downloads.html">
      Jochen Hub's group</a> at Saarland University</p>
  <p class="px-4"><a class="text-success" href="http://www.softsimu.net/downloads.shtml">
      Mikko Karttunen's group</a> at University of Western Ontario</p>
  <p class="px-4"><a class="text-success" href="http://www.fos.su.se/~sasha/SLipids/Downloads.html">
      SLipids website</a> - maintained by Alexander Lyubartsev's group at Stockholm University</p>
  <p class="px-4"><a class="text-success" href="https://zenodo.org/communities/nmrlipids/?page=1&size=20">
      The NMRlipids project</a> - Open Collaboration to understand lipid systems in atomistic resolution</p>
  <p class="px-4"><a class="text-success" href="https://research.engineering.ucdavis.edu/multiscale/downloads/">
      Roland Faller's group</a> at UCDavis</p>
  <p class="px-4"><a class="text-success" href="http://bioinformatics.am/downloads/">
      Armen Poghosyan's group</a> at International Scientific and Educational Center of NAS RA</p>
  <p class="px-4"><a class="text-success" href="http://www.lipid.wabash.edu/">
      Scott Feller</a> at Wabash College</p>
  <p class="px-4"><a class="text-success" href="http://heller.userweb.mwn.de/membrane/membrane.html">
      Helmut Heller</a> at Leibniz-Rechenzentrum</p><br>

  <h2 class="font-italic">Lipid topologies</h2><br>
  <p class="px-4"><a class="text-success" href="http://mackerell.umaryland.edu/charmm_ff.shtml#gromacs">
      Alex MacKerell's group</a> at University of Maryland</p>
  <p class="px-4"><a class="text-success" href="http://cgmartini.nl/index.php/force-field-parameters/lipids">
      Martini website</a> - maintained by Siewert-Jan Marrink’s group at University of Groningen</p>
  <p class="px-4"><a class="text-success" href="https://lipidbook.bioch.ox.ac.uk/package/">
      LipidBook website</a> - mainaited by Mark Sansom's group at University of Oxford</p>
  <p class="px-4"><a class="text-success" href="http://charmm-gui.org/?doc=input/membrane">
      Charmm-gui website</a> - maintained by Im's group at Lehigh University</p>
  <p class="px-4"><a class="text-success" href="http://wcm.ucalgary.ca/tieleman/downloads">
      Peter Tieleman's group</a> at University of Calgary</p>
  <p class="px-4"><a class="text-success" href="http://www.fos.su.se/~sasha/SLipids/Downloads.html">
      SLipids website</a> - maintained by Alexander Lyubartsev's group at Stockholm University</p>
  <p class="px-4"><a class="text-success" href="https://biophys.uni-saarland.de/downloads.html">
      Jochen Hub's group</a> at Saarland University</p>
  <p class="px-4"><a class="text-success" href="http://www.softsimu.net/downloads.shtml">
      Mikko Karttunen's group</a> at University of Western Ontario</p>
  <p class="px-4"><a class="text-success" href="http://terpconnect.umd.edu/~jbklauda/ff.html">
      Jeffery Klauda's group</a> at University of Maryland</p>
  <p class="px-4"><a class="text-success" href="http://perso.ibcp.fr/luca.monticelli/lipids/index.html">
      Luca Monticelli</a> at University of Lyon</p>
  <p class="px-4"><a class="text-success"
      href="https://atb.uq.edu.au/index.py?filter_0=&filter_1=&filter_2=&filter_3=lipid&filter_4=2&tab=existing_molecules&filter_table_id=filter_form_Selected_Molecules">
      Automated Topology Builder (ATB) and Repository</a>
      - maintained by Alan Mark's group at University of Queensland</p>
  <p class="px-4"><a class="text-success" href="http://bioinf.modares.ac.ir/software/mb2/builder.php">
      Membuilder II</a> - mainatined by Seyed Shahriar Arab's group at Tarbiat Modares University</p><br>

  <h2 class="font-italic">Membrane builders</h2><br>
  <p class="px-4"><a class="text-success" href="http://www.cgmartini.nl/index.php/insane">
      Insane</a> - A python script to setup Martini bilayer systems developed by Siewert-Jan Marrink’s group
      at University of Groningen</p>
  <p class="px-4"><a class="text-success" href="http://charmm-gui.org/?doc=input/membrane">
      Charmm-gui website</a> - developed by Im's group at Lehigh University</p>
  <p class="px-4"><a class="text-success" href="http://memgen.uni-goettingen.de/">
      Memgen website</a> - developed by Jochen Hub's group at Saarland University</p>
  <p class="px-4"><a class="text-success" href="http://lipidbuilder.epfl.ch/home">
      Lipidbuilder website</a> - developed by Matteo Dal Peraro's group at École polytechnique fédérale de Lausanne</p>
  <p class="px-4"><a class="text-success" href="http://bioinf.modares.ac.ir/software/mb2/builder.php">
      Membuilder II website</a> - developed by Seyed Shahriar Arab's group at Tarbiat Modares University and David
      van der Spoel's group at Uppsala University</p>
  <p class="px-4"><a class="text-success" href="http://m3g.iqm.unicamp.br/packmol/home.shtml">
      Packmol software</a> - developed by José Mario Martínez's group and Ernesto Birgin's group at Universities of
      Campinas and São Paulo</p>
  <p class="px-4"><a class="text-success" href="https://www.ks.uiuc.edu/Research/vmd/plugins/membrane/">
      VMD plugin</a> - developed by Ilya Balabin at Duke University</p>
  <p class="px-4"><a class="text-success" href="https://www.cellmicrocosmos.org/">
      CellMicrocosmos</a> - developed by Björn Sommer at University of Konstanz</p><br>

  <h2 class="font-italic">Lipid properties</h2><br>
  <p class="px-4"><a class="text-success"
      href="http://www.lipidmaps.org/data/classification/LM_classification_exp.php">
      LipidMaps</a> - A lipidomics gateway created to provide access to lipid resources to the
      international lipid research community</p>
  <p class="px-4"><a class="text-success" href="http://www.swisslipids.org/#/">
      Swisslipids</a> - A knowledge resource for lipids and their biology maintained by the
      <a class="text-success" href="https://www.sib.swiss/">Swiss Institute of Bioinformatics</a></p>
  <p class="px-4"><a class="text-success" href="http://www.lipidbank.jp/index.html">
      LipidBank</a> - The official database of Japanese Conference on the Biochemistry of Lipids (JCBL)</p>
  <p class="px-4"><a class="text-success" href="https://brocku.ca/researchers/peter_rand/lipid/default.html">
      Péter Rand</a> at Brock University - Structural parameters of aqueous phospholipid mixtures</p>
  <p class="px-4"><a class="text-success" href="https://avantilipids.com/tech-support/physical-properties">
      Avanti Polar Lipids, Inc.</a> - Physical properties of lipids</p>

{% endblock %}
