{% extends "homepage/layout.html" %}

{% load homepage_extras %}

{% block title %}References{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10">
                <h1>Articles</h1>
            </div>
            <div class="col" align="right">
                {% if user.is_authenticated %}
                    <a href={% url 'refcreate' %} class="btn btn-primary" role="button" aria-pressed="true">Add</a>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row align-items-center rounded-top border border-bottom-0 border-success p-3" style="background-color:#c2e5ca" >
            <div class="col-0 p-1" align="right">
                Show  
            </div>
            <div class="col-0" align="center">
                <!--<select name="per_page" class="custom-select" onchange="$(this).parent().submit()">-->
                <select name="per_page" class="custom-select" onchange="document.location.href=this.value">
                    <option {% if per_page == 5 %}selected{% endif %} value="?{% url_replace per_page=5 %}">5</option>
                    <option {% if per_page == 10 %}selected{% endif %} value="?{% url_replace per_page=10 %}">10</option>
                    <option {% if per_page == 25 %}selected{% endif %} value="?{% url_replace per_page=25 %}">25</option>
                </select>
            </div>
            <div class="col-0 p-1" align="left">
                entries
            </div>
            <div class="col-4" align="right">
                <p id="click_advance"><i class="fa fa-minus"></i> Advanced selection</p>
                <!--{{ params }}-->
            </div>
            <div class="col-4" id="display_advance">
                <form action="" method="get">
                    {% csrf_token %}
                    <div class="row p-1">
                        {% for field in form_select %}
                            <div class="col-1">
                            </div>
                            <div class="col-2">
                                {{ field.label_tag }}<br>
                            </div>
                            <div class="col-3">
                                {{ field }}
                                {% if field.help_text %}
                                    <br>
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <br>
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="col-1">
                            <!--<a class="page-link" href="?{% url_replace year=form_select.year %}">Select</a>-->  
                            <button type="submit" class="btn btn-primary btn-sm" name="search">Select</button>
                        </div>
                    </div>
                </form>
            </div> 
        </div>
        <div class="row align-items-center bg-white border border-top-0 border-bottom-0 border-success p-3">
            <div class="col-12">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th width="15%">
                                {% if sort == "refid" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="refid" %}"> Name<a/>
                            </th>
                            <th width="63%">
                                {% if sort == "title" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="title" %}">Title<a/></th>
                            <th width="7%">
                                {% if sort == "year" %}{% if dir == "asc" %}<i class="fa fa-sort-asc"></i>{% else %}<i class="fa fa-sort-desc"></i>{% endif %}{% endif %}
                                <a href="?{% url_replace sort="year" %}">Year<a/></th>
                            {% if user.is_authenticated %}
                                <th width="15%"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for ref in refs %}
                            <tr>
                                <td><a class="text-success" href="http://dx.doi.org/{{ ref.doi }}">{{ ref.refid }}</a></td>
                                <td>
                                    <div id="{{ ref.refid }}">
                                        <a class="text-dark" data-toggle="collapse" href="#collapse{{ ref.refid }}" aria-expanded="true" aria-controls="collapse{{ ref.refid }}">{{ ref.title }}</a>
                                        <div id="collapse{{ ref.refid }}" class="collapse" data-parent="#{{ ref.refid }}">
                                            {{ ref.authors }}<br>
                                            <i>{{ ref.journal }}</i>, {{ ref.year }}, <i>{{ ref.volume }}</i>. 
                                            <b>DOI:</b> <a class="text-success" href="http://dx.doi.org/{{ ref.doi }}">{{ ref.doi }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ ref.year }}</td>
                                {% if user.is_authenticated %}
                                    <td align="right">
                                        <a href={% url 'refupdate' ref.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Update</a>
                                        <a href={% url 'refdelete' ref.pk %} class="btn btn-primary btn-sm" role="button" aria-pressed="true">Delete</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row rounded-bottom border border-top-0 border-success p-3" style="background-color:#c2e5ca" >
		    <div class="col-6 p-1" align="left">
                Showing {{ refs.start_index }} to {{ refs.end_index }} of {{ refs.paginator.count }} entries
            </div>
            <div class="col-6">
            {% if refs.has_other_pages %}
                <nav aria-label="Page Reference">
                    <ul class="pagination justify-content-end">
                        {% if refs.has_previous %} 
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=refs.previous_page_number %}">Previous</a></li>
                        {% else %} 
                            <li class="page-item disabled"><a class="page-link" href="?page=1">Previous</a></li>
                        {% endif %} 
                        {% for i in refs.paginator.page_range %}
                            {% if refs.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if refs.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=refs.next_page_number %}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="?{% url_replace page=refs.paginator.num_pages %}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block script %}
    <script>
        $('#click_advance').click(function(){
            $('#display_advance').toggle();
            icon = $(this).find("i");
            icon.toggleClass("fa-plus fa-minus")
        })
    </script>
{% endblock %}

